body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #625261;
    height: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    color: ##f7f7f7;
    font-size: 16px;
    font-weight: 600;
    padding-left: 200px;
    padding-right: 200px;
}

main {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin: 5px;
    padding: 10px;
    border: 2px solid #625261;
    display: flex;
}

.textbox {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.chibi {
    justify-content: center;
    height: 180px;
}

h3 {
    align-content: center;
    padding-left: 20px;
    color: #625261;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 0px;
}

.button-section {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #625261;
}

.picker {
    justify-content: center;
    color: #f7f7f7;
    background-color: #625261;
}

button {
    display: inline-block;
    margin: 10px 10px 10px 10px;
    background-color: #e8e8e8;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 2px;
}

button:hover {
    display: inline-block;
    margin: 10px 10px 10px 10px;
    background-color: rgb(190, 190, 190);
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: #625261;
}